---
version: '3'

networks:
  proxy:
    name: 'proxy'
    external: true

services:
  bitwarden:
    image: vaultwarden/server:latest
    container_name: bitwarden
    restart: unless-stopped
    environment:
      - WEBSOCKET_ENABLED=${WEBSOCKET_ENABLED}
      - SIGNUPS_ALLOWED=${SIGNUPS_ALLOWED}
    volumes:
      - /home/cloud/nas/bitwarden:/data
    networks:
      - proxy
      
