---
version: '3'

networks:
  proxy:
    name: 'proxy'
    external: true

services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: 'proxy'
    restart: always
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - '/home/cloud/nas/nginx/data:/data'
      - '/home/cloud/nas/nginx/letsencrypt:/etc/letsencrypt'
    networks:
      - 'proxy'
    healthcheck:
      test: ["CMD", "/bin/check-health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
