---
version: '3'

volumes:

  certs:

  site:

  acme:

networks:
  proxy:
    name: 'proxy'
    external: true

services:
  nginx-proxy:
    image: 'jwilder/nginx-proxy:latest'
    container_name: 'nginx-proxy'
    labels: 
            - 'com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy'
    restart: 'always'
    ports:
            - '80:80'
            - '81:81'
            - '443:443'
    volumes:
            - 'certs:/etc/nginx/certs'
            - '/home/cloud/nas/nginx:/etc/nginx/vhost.d'
            - 'site:/usr/share/nginx/html'
            - '/var/run/podman/podman.sock:/var/run/docker.sock:ro'
    environment:
            - 'SSL_POLICY=${SSL_POLICY}'
    networks:
            - 'proxy'

  nginx-proxy-letsencrypt:
    image: 'nginxproxy/acme-companion:latest'
    container_name: 'nginx-proxy-letsencrypt'
    restart: 'always'
    depends_on:
            - 'nginx-proxy'
    volumes:
            - 'acme:/etc/acme.sh'
            - 'certs:/etc/nginx/certs'
            - '/home/cloud/nas/nginx:/etc/nginx/vhost.d'
            - 'site:/usr/share/nginx/html'
            - '/var/run/podman/podman.sock:/var/run/docker.sock:ro'
    environment:
            - 'DEFAULT_EMAIL=${DEFAULT_EMAIL}'
    networks:
            - 'proxy'
