---
version: '3'

services:
  ddns-cloudflare-4:
    image: oznu/cloudflare-ddns:latest
    container_name: ddns-cloudflare-4
    restart: unless-stopped
    network_mode : host
    environment:
      - "RRTYPE=A"
      - ZONE=${ZONE}
      - API_KEY=${API_KEY}
      - PROXIED=${PROXIED}  
  
  ddns-cloudflare-6:
    image: oznu/cloudflare-ddns:latest
    container_name: ddns-cloudflare-6
    restart: unless-stopped
    network_mode : host
    environment:
      - "RRTYPE=AAAA"
      - ZONE=${ZONE}
      - API_KEY=${API_KEY}
      - PROXIED=${PROXIED}  
